My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact us",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Phone number",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "a8e53de5-66cf-498f-be58-c9b5f7853852",
      "name": "On form submission",
      "webhookId": "f38c7ba5-4b52-4d96-a52f-19a7c139a840"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "N8N Automation",
        "emailType": "text",
        "message": "Hi This is an automated message",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "77a182b8-8916-4444-9108-41bb09eeb0e0",
      "name": "Send a message",
      "webhookId": "9ce61a6b-2f01-4000-95ad-d4d1153142cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "p9F2OyaSC4d8qTPO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kKeSBa-UypetqgA95x_doNhqMamwb4QLvAxHeKGSwxc",
          "mode": "list",
          "cachedResultName": "N8n Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kKeSBa-UypetqgA95x_doNhqMamwb4QLvAxHeKGSwxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kKeSBa-UypetqgA95x_doNhqMamwb4QLvAxHeKGSwxc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "139e76e1-1f22-4b3e-bd98-335b83e0e978",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dgu4XCpltky99JAP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a65ff98-de2a-4c40-80bc-cf9e9c396308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61e59f3e8668544cdba41665382540abef2b6246479b1cf837009d6bc4296261"
  },
  "id": "ZVzbDRPSYFYrlsy3",
  "tags": []
}